@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(92.23deg,
      #2e3a5b 0%,
      /* Azul escuro nas pontas */
      #1818b7 50%,
      /* Azul claro no meio */
      #2e3a5b 100%);
  /* Azul escuro novamente nas pontas */
  box-shadow: 0px 4.42184px 107.23px rgba(124, 124, 124, 0.51);
}

.btn:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}

.gradient,
.active {
  background: linear-gradient(92.23deg,
      #2e3a5b 0%,
      /* Azul escuro nas pontas */
      #1818b7 50%,
      /* Azul claro no meio */
      #2e3a5b 100%);
  /* Azul escuro novamente nas pontas */
}


.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }

  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }

  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }

  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }

  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }

  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }

  .btn-link {
    @apply text-base;
  }

  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#1818b7] to-[#2e3a5b] font-bold font-primary hover:from-[#1818b7] hover:to-[#2e3a5b];
  }

  .text-gradient2 {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#eced6f] to-[#feff99] font-bold font-primary hover:from-[#eced6f] hover:to-[#eced6f];
  }

  .section {
    @apply py-9 flex items-center;
  }
}