@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(92.23deg,
  #9b59b6 21.43%,   /* roxo suave */
  #8e44ad 50.63%,   /* roxo intenso */
  #6a2c96 100%,     /* roxo escuro */
  #a29bfe 100.04%); /* lilás suave */
box-shadow: 0px 4.42184px 107.23px rgba(106, 44, 150, 0.51);
}

.btn:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}

.gradient,
.active {
  background: linear-gradient(92.23deg,
  #9b59b6 21.43%, /* roxo suave */
  #8e44ad 50.63%, /* roxo mais intenso */
  #6a2c96 100%,   /* roxo escuro */
  #a29bfe 100.04%); /* lilás suave */
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }

  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }

  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }

  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }

  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }

  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }

  .btn-link {
    @apply text-base;
  }

  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#d1a35d] to-[#f2c94c] font-bold font-primary hover:from-[#d1a35d] hover:to-[#f2c94c];
  }

  .section {
    @apply py-9 flex items-center;
  }
}